<div class="">
  
    <!-- Main Content -->
    <div class="main-content" >
      
    <div class="header-container">
      <h2 class="page-title">Liste des Applications</h2>
      <div class="button-group">
        <button routerLink="/app/applications/add" class="btn btn-success add-button"><i class="bi bi-bookmark-plus-fill"></i> Add Application</button>
      </div>
    </div>

    <div class="search-container">
      <div class="dropdown">
        <button class="filter-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ selectedFilter }}
        </button>
        <ul class="dropdown-menu">
   
          <li><a class="dropdown-item" (click)="setFilter('intitule')">intitule</a></li>
          <li><a class="dropdown-item" (click)="setFilter('responsable')">responsable</a></li>
          <li><a class="dropdown-item" (click)="setFilter('abreviation')">abreviation</a></li>
          <li><a class="dropdown-item" (click)="setFilter('description')">description</a></li>
        </ul>
      </div>

      <input
        type="text"
        class="search-input"
        placeholder="Search By {{ selectedFilter }}"
        [(ngModel)]="searchValue"
        (input)="applyFilter()"
      />

      <button *ngIf="searchValue" class="clear-btn" (click)="clearFilter()">Clear</button>
      <button class="search-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85zM6.5 11A4.5 4.5 0 1 1 11 6.5 4.5 4.5 0 0 1 6.5 11z"/>
        </svg>
      </button>
    </div>

    

    <div class="table-responsive mt-4">
      <table class="table  ">
        <thead>
          <tr>
            <th>Abréviation</th>
            <th>Intitule</th>
            <th>Description</th>
            <th>Date d'exploitaion</th>
            <th>responsable</th>
            <th>Edit Application</th>
            <th>Delete Application</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let app of paginatedApplication()">
            <td>{{ app.abreviation }}</td>
            <td>{{ app.intitule }}</td>
            <td>{{ app.description }}</td>
            <td>{{ app.dateExploitation| date:'dd/MM/yyyy' }}</td>
            <td>{{ app.responsable }}</td>
            <td>
              <button class="btn btn-warning edit-button" [routerLink]="['/app/application-update', app.uuid]">Edit</button>
              
            </td>
            <td><button class="btn btn-danger delete-button" (click)="deleteApplication(app.uuid)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-3">
      <div>
        <label for="itemsPerPage">Show:</label>
        <select
          id="itemsPerPage"
          class="form-select d-inline-block w-auto ms-2"
          [(ngModel)]="itemsPerPage"
          (ngModelChange)="changePageSize($event)"
        >
          <option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
        </select>
        Applications per page
      </div>

      <nav>
        <ul class="pagination">
          <!-- Previous Button -->
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
          </li>

          <!-- Page Number Buttons -->
          <li *ngFor="let page of totalPagesArray()" class="page-item" [class.active]="page === currentPage">
            <a class="page-link" (click)="changePage(page)">{{ page }}</a>
          </li>

          <!-- Next Button -->
          <li class="page-item" [class.disabled]="currentPage === totalPages()">
            <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
