.down{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
}
.back-button {
    margin-top: 10px;
    background-color: #6c757d; /* Bootstrap secondary color */
    color: white;
    border-radius: 8px; /* Rounded corners */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .back-button:hover {
    background-color: #5a6268; /* Darker shade on hover */
    transform: scale(1.05); /* Slight zoom effect */
  }
  
  .back-button:active {
    transform: scale(0.95); /* Click effect */
  }
  