<div class="header-container">
  <h2>Client List</h2>
  <a routerLink="/clients/add" class="btn btn-success">Add Client</a>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Uuid</th>
      <th scope="col">Code</th>
      <th scope="col">Intutile</th>
      <th scope="col">Telephone</th>
      <th scope="col">Email</th>
      <th scope="col">Adresse</th>
      <th scope="col">Edit Client</th>
      <th scope="col">Delete Client</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{ client.uuid }}</td>
      <td>{{ client.code }}</td>
      <td>{{ client.intutile }}</td>
      <td>{{ client.telephone }}</td>
      <td>{{ client.email }}</td>
      <td>{{ client.adresse }}</td>
      <td>
        <button [routerLink]="['/client-update', client.uuid]" class="btn btn-warning">Edit</button>
      </td>
      <td>
        <button (click)="deleteClient(client.id!)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
