<h2>Client List</h2>
<button routerLink="/clients/new" class="btn btn-primary">Add Client</button>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Code</th>
      <th>Intitule</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Adresse</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{ client.id }}</td>
      <td>{{ client.code }}</td>
      <td>{{ client.intitule }}</td>
      <td>{{ client.telephone }}</td>
      <td>{{ client.email }}</td>
      <td>{{ client.adresse }}</td>
      <td>
        <button [routerLink]="['/clients/edit', client.id]" class="btn btn-warning">Edit</button>
        <button (click)="deleteClient(client.id!)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
