<div class="sidebar">
  <!-- Logo Section -->
   
  <div class="logo-container">
    <img src="../../../assets/logo.png" alt="Logo" class="sidebar-logo" />
  </div>

  <ul class="nav flex-column">
    <!-- Accueil -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/menu">
        <div class="icon-container">
          <i class="fas fa-home"></i>
        </div>
        <span style="font-size: 18px;">Accueil</span>
      </a>
    </li>

    <!-- Clients -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/clients">
        <div class="icon-container">
          <i class="fas fa-users"></i>
        </div>
        <span  style="font-size: 18px;">Clients</span>
      </a>
    </li>

    <!-- Applications -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/applications">
        <div class="icon-container">
          <i class="fas fa-mobile-alt"></i>
        </div>
        <span  style="font-size: 18px;">Applications</span>
      </a>
    </li>

    <!-- Conventions -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/conventions">
        <div class="icon-container">
          <i class="bi bi-file-earmark-spreadsheet"></i>
        </div>
        <span  style="font-size: 18px;">Conventions</span>
      </a>
    </li>

    <!-- Users (Visible only for ADMIN role) -->
    <li class="nav-item" *ngIf="role === 'ADMIN'">
      <a class="nav-link" routerLink="/users">
        <div class="icon-container">
          <i class="fas fa-users"></i>
        </div>
        <span style="font-size: 18px;">Users</span>
      </a>
    </li>

    
  </ul>
</div>
