.sidebar-container {
  display: flex;
  flex-direction: column;
  padding: 16px 8px;
  height: 100%; /* ensures it extends vertically if parent is 100% */
}

.sidebar-brand {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
  margin-bottom: 16px;
}

.logo {width: 40px;height: auto;}

.brand-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #b3c2cc;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 8px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #132337;
  color: #fff;
}

.nav-link.active {
  background-color: #132337;
  color: #fff;
}
